 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fira+Sans:wght@300;400&family=Oswald:wght@300&family=Sofia+Sans+Extra+Condensed:wght@200;300&family=Source+Code+Pro:wght@300&display=swap');
body{
    background-image:url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}

h1{
    font-family: 'Oswald', sans-serif;
}

.container{
    text-align: center;
    margin: auto;
    margin-top: 200px;
    margin-right: 150;
    color: beige;
}

